.container {
    background-color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.princess {
    background-color: purple;
    transition: background-color 0.3 ease;
}

.princess:hover {
    background-color: pink;
}

#princess-picture {
    width: 300px;
    height: auto;
    padding-left: 10px;
}

#prince-picture { 
    width: 300px;
    height: auto;
    padding-left: 10px;
}